<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-5">
        <div *ngIf="passwordIncorrect" class="text-center mt-5">
            <small class="text-danger">{{'IncorrectPasswordOrEmail' | translate}}</small>
        </div>
        <div class="row justify-content-center">
            <label class="col-4">
                <input
                type="email"
                placeholder="Email"
                formControlName="email"
                class="form-control">
            </label>
        </div>
        <div class="row justify-content-center">
            <label class="col-4">
                <input
                type="password"
                placeholder="{{'Password' | translate}}"
                formControlName="password"
                class="form-control">
            </label>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <a [routerLink]="['/reset-password']">{{'PasswordReset' | translate}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="submit btn btn-primary btn-lg">{{'Login' | translate}}</button>
            </div>
        </div>
    </form>

</div>

