<div class="container">
    <h1 class="text-center mb-3 mt-5">Logowanie</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div *ngIf="passwordIncorrect" class="text-center mt-5">
            <small class="text-danger">Hasło lub email są nieprawidłowe.</small>
        </div>
        <div class="row justify-content-center">
            <label class="col-4">
                <input
                type="email"
                placeholder="Email"
                formControlName="email"
                class="form-control">
            </label>
        </div>
        <div class="row justify-content-center">
            <label class="col-4">
                <input
                type="password"
                placeholder="Hasło"
                formControlName="password"
                class="form-control">
            </label>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <a [routerLink]="['/reset-password']">Resetuj hasło</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="submit btn btn-primary btn-lg">Zaloguj</button>
            </div>
        </div>
    </form>

</div>

