
<div class="container">
  <div *ngIf="!editEnabled">
    <h2>{{user.name}} {{user.surname}}</h2>
    <p><strong>Ulica: </strong>{{user.street}}</p>
    <p><strong>Miasto: </strong>{{user.city}}</p>
    <p><strong>Kod pocztowy: </strong>{{user.postalCode}}</p>
    <p><strong>Kraj: </strong>{{user.country.name}}</p>
    <p><strong>Numer telefonu: </strong>{{user.phone}}</p>
    <button type="button" class="btn btn-primary" (click)="toggleEddit()">Edytuj</button>
  </div>
  <div *ngIf="editEnabled">
    <form [formGroup]="editUserForm" (ngSubmit)="submit()">  
    <div class="form-group row">
      <label class="col-4">
        Imię
        <input
          type="text"
          placeholder="Imię"
          formControlName="name"
          class="form-control">
      </label>
    </div>
      <div class="form-group row">
        <label class="col-4">
          Nazwisko
          <input
            type="text"
            placeholder="Nazwisko"
            formControlName="surname"
            class="form-control">
        </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            Ulica
            <input
              type="text"
              placeholder="ulica"
              formControlName="street"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            Miasto
            <input
              type="text"
              placeholder="Miasto"
              formControlName="city"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            Kod pocztowy
            <input
              type="text"
              placeholder="Kod pocztowy"
              formControlName="postalCode"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            Numer telefonu
            <input
              type="text"
              placeholder="Numer telefony"
              formControlName="phone"
              class="form-control">
          </label>
        </div>
        <select
          id = "countrySelect"
          name = "countrySelect"
          formControlName="countryId"
          class="form-control col-4">
          Kraj
          <option value="" disabled>Wybierz kraj</option>
          <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
      </select>
    <button type="submit" class="btn btn-primary mt-5">Zapisz</button>
  </form>
  </div>
</div>