
<div class="container">
  <div *ngIf="!editEnabled">
    <h2>{{user.name}} {{user.surname}}</h2>
    <p><strong>{{'Street' | translate}}: </strong>{{user.street}}</p>
    <p><strong>{{'City' | translate}}: </strong>{{user.city}}</p>
    <p><strong>{{'PostalCode' | translate}} </strong>{{user.postalCode}}</p>
    <p><strong>{{'Country' | translate}}: </strong>{{user.country.name}}</p>
    <p><strong>{{'PhoneNumber' | translate}}: </strong>{{user.phone}}</p>
    <button type="button" class="btn btn-primary" (click)="toggleEddit()">{{'Edit' | translate}}</button>
  </div>
  <div *ngIf="editEnabled">
    <form [formGroup]="editUserForm" (ngSubmit)="submit()">  
    <div class="form-group row">
      <label class="col-4">
        {{'Name' | translate}}
        <input
          type="text"
          placeholder="{{'Name' | translate}}"
          formControlName="name"
          class="form-control">
      </label>
    </div>
      <div class="form-group row">
        <label class="col-4">
          {{'Surname' | translate}}          
          <input
            type="text"
            placeholder="{{'Surname' | translate}}"
            formControlName="surname"
            class="form-control">
        </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            {{'Street' | translate}}
            <input
              type="text"
              placeholder="{{'Street' | translate}}"
              formControlName="street"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            {{'City' | translate}}
            <input
              type="text"
              placeholder="{{'City' | translate}}"
              formControlName="city"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            {{'PostalCode' | translate}}
            <input
              type="text"
              placeholder="{{'PostalCode' | translate}}"
              formControlName="postalCode"
              class="form-control">
          </label>
        </div>
        <div class="form-group row">
          <label class="col-4">
            {{'PhoneNumber' | translate}}
            <input
              type="text"
              placeholder="{{'PhoneNumber' | translate}}"
              formControlName="phone"
              class="form-control">
          </label>
        </div>
        <div *ngIf="currentLanguage == 'pl'">
          <select
            id = "countrySelect"
            name = "countrySelect"
            formControlName="countryId"
            class="form-control col-4">
            {{'Country' | translate}}
            <option value="" disabled>{{'SelectCountry' | translate}}</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
          </select>
        </div>
        <div *ngIf="currentLanguage == 'en'">
          <select
            id = "countrySelect"
            name = "countrySelect"
            formControlName="countryId"
            class="form-control col-4">
            {{'Country' | translate}}
            <option value="" disabled>{{'SelectCountry' | translate}}</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.nameEnglish }}</option>
          </select>
        </div>
    <button type="submit" class="btn btn-primary mt-5">Zapisz</button>
  </form>
  </div>
</div>