<div class="container">
  <h3 class="text-center mb-3">Resetowanie hasła</h3>
  <form [formGroup]="resetPasswordForm" (ngSubmit)= "onSubmit()">
    <div class="form-groupt text-center">
      <label>
        <p class="text-muted">Na podany przez Ciebie email zostanie wysłany link do zmiany hasła.</p>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          class="form-control">
      </label>
    </div>
    <div class="form-group text-center mt-3">
      <div *ngIf="!formSubmitted">
        <button type="submit" class="btn btn-primary btn-lg">Resetuj</button>
      </div>
      <div *ngIf="formSubmitted">
        <p class="text-success">Link do zmiany hasła został wysłany na podany adres.</p>
      </div>
    </div>
  </form>
</div>
